.AppModal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 100%;
}

.AppModalHeader {
    height: 3.5rem;
    background-color: #f8f9fa;
}

.AppModalContent {
    height: calc(100% - 3.5rem);
    background-color: #fff;
}

h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.2;
}

.close-btn {
    font-size: 3rem;
    color: #000;
    font-weight: 400;
    opacity: 1;
    margin-top: -.5rem;
}

@media (hover: hover) and (pointer: fine) {
    .close-btn:hover {
        opacity: 0.65;
        transition: all .1s ease-out;
        transform: scale(1.25);
    }
}

.close-btn:active,
.close-btn:focus {
    outline: none;
    box-shadow: none;
}

@media (min-width: 768px) {
    .AppModalHeader {
        height: 3.75rem;
    }

    .AppModalContent {
        height: calc(100% - 3.75rem);
    }
    
    h2 {
        font-size: 2rem;
        line-height: 1.4;
    }
}